body {
    background: #ccc;
}
#qwe{
    background-image: url("img/logo.png");
    width: 100px;
    height: 100px;
}
#asd{
    background-image: url("img/5.jpg");
    width: 100px;
    height: 100px;
}